## Preprocessing

In [25]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.

application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [26]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df=application_df.drop(columns=['EIN'],axis=1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [27]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [28]:
# Look at NAME counts for binning
name_counts = application_df['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [32]:
# Choose a cutoff value and create a list of names_replace to be replaced
# use the variable name names_replace
name_to_replace = list(name_counts[name_counts<5].index)

In [34]:
# Replace in dataframe
for name in name_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [35]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df.APPLICATION_TYPE.value_counts()
app_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [36]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_counts[app_type_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [37]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df.CLASSIFICATION.value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [38]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts[class_counts >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [39]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1800].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [40]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [41]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop('IS_SUCCESSFUL', axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [42]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [48]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  7
hidden_nodes_layer2 = 14
hidden_nodes_layer3 = 21

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 7)                 3129

 dense_19 (Dense)            (None, 14)                112

 dense_20 (Dense)            (None, 21)                315

 dense_21 (Dense)            (None, 1)                 22

=================================================================
Total params: 3,578
Trainable params: 3,578
Non-trainable params: 0
_________________________________________________________________

In [49]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [50]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 8s 5ms/step - loss: 0.5417 - accuracy: 0.7493
Epoch 2/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4509 - accuracy: 0.7895
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4396 - accuracy: 0.7916
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4339 - accuracy: 0.7942
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4309 - accuracy: 0.7951
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4295 - accuracy: 0.7948
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4279 - accuracy: 0.7945
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4261 - accuracy: 0.7936
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4251 - accuracy: 0.7959
Epoch 10/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4243 - accuracy: 0.7959
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4234 - accuracy: 0.7961
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4224 - accuracy: 0.7980
Epoch 13/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4218 - accuracy: 0.7984
Epoch 14/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4206 - accuracy: 0.7994
Epoch 15/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4199 - accuracy: 0.8000
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4193 - accuracy: 0.7999
Epoch 17/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4195 - accuracy: 0.8000
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4189 - accuracy: 0.7985
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4185 - accuracy: 0.7998
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4178 - accuracy: 0.8006
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4167 - accuracy: 0.8003
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4164 - accuracy: 0.8021
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4166 - accuracy: 0.8025
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4159 - accuracy: 0.8024
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4161 - accuracy: 0.8013
Epoch 26/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4158 - accuracy: 0.8020
Epoch 27/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4154 - accuracy: 0.8032
Epoch 28/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4153 - accuracy: 0.8025
Epoch 29/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4152 - accuracy: 0.8029
Epoch 30/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4150 - accuracy: 0.8018
Epoch 31/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4150 - accuracy: 0.8019
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4150 - accuracy: 0.8028
Epoch 33/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4147 - accuracy: 0.8027
Epoch 34/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4142 - accuracy: 0.8035
Epoch 35/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4140 - accuracy: 0.8027
Epoch 36/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4144 - accuracy: 0.8028
Epoch 37/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4147 - accuracy: 0.8031
Epoch 38/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4140 - accuracy: 0.8027
Epoch 39/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4145 - accuracy: 0.8031
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4143 - accuracy: 0.8033
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4141 - accuracy: 0.8029
Epoch 42/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4142 - accuracy: 0.8036
Epoch 43/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4137 - accuracy: 0.8024
Epoch 44/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4139 - accuracy: 0.8024
Epoch 45/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4135 - accuracy: 0.8035
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4138 - accuracy: 0.8033
Epoch 47/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4133 - accuracy: 0.8029
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4129 - accuracy: 0.8036
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4138 - accuracy: 0.8036
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4129 - accuracy: 0.8035
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4135 - accuracy: 0.8033
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4131 - accuracy: 0.8032
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4124 - accuracy: 0.8032
Epoch 54/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4129 - accuracy: 0.8043
Epoch 55/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4129 - accuracy: 0.8034
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4126 - accuracy: 0.8033
Epoch 57/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4126 - accuracy: 0.8049
Epoch 58/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4123 - accuracy: 0.8040
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4120 - accuracy: 0.8043
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4116 - accuracy: 0.8039
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4121 - accuracy: 0.8038
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4119 - accuracy: 0.8044
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4124 - accuracy: 0.8042
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4117 - accuracy: 0.8048
Epoch 65/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4113 - accuracy: 0.8040
Epoch 66/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4117 - accuracy: 0.8030
Epoch 67/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4115 - accuracy: 0.8045
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4111 - accuracy: 0.8049
Epoch 69/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4115 - accuracy: 0.8047
Epoch 70/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4116 - accuracy: 0.8045
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4116 - accuracy: 0.8031
Epoch 72/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4111 - accuracy: 0.8045
Epoch 73/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4113 - accuracy: 0.8047
Epoch 74/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4116 - accuracy: 0.8047
Epoch 75/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4113 - accuracy: 0.8051
Epoch 76/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4112 - accuracy: 0.8046
Epoch 77/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4111 - accuracy: 0.8057
Epoch 78/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4106 - accuracy: 0.8058
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4112 - accuracy: 0.8053
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4112 - accuracy: 0.8053
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4109 - accuracy: 0.8045
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4108 - accuracy: 0.8044
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4113 - accuracy: 0.8043
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4109 - accuracy: 0.8047
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4107 - accuracy: 0.8050
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4106 - accuracy: 0.8050
Epoch 87/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4110 - accuracy: 0.8034
Epoch 88/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4107 - accuracy: 0.8047
Epoch 89/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4106 - accuracy: 0.8036
Epoch 90/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4106 - accuracy: 0.8037
Epoch 91/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4104 - accuracy: 0.8057
Epoch 92/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4107 - accuracy: 0.8054
Epoch 93/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4102 - accuracy: 0.8060
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4103 - accuracy: 0.8060
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4095 - accuracy: 0.8050
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4105 - accuracy: 0.8042
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4105 - accuracy: 0.8051
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4103 - accuracy: 0.8050
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4097 - accuracy: 0.8054
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4104 - accuracy: 0.8035

In [51]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 2s - loss: 0.4576 - accuracy: 0.7883 - 2s/epoch - 6ms/step
Loss: 0.4575975239276886, Accuracy: 0.7883381843566895

In [52]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimisation.h5")